#!/bin/sh

BIZBRAINZ_MONGODB_URI="mongodb://localhost:27017/bizBrainz"

BIZBRAINZ_REDIS_URL="redis://127.0.0.1:6379"

BIZBRAINZ_MAIL_ENABLED=false

BIZBRAINZ_ENCRYPTION_PASSWORD=abcd
BIZBRAINZ_ENCRYPTION_SALT=abcd

BIZBRAINZ_CODEC_SIZE=10

BIZBRAINZ_CLOUD_SERVICES_BASE_URL="https://release-cs.bizBrainz.com"
# BIZBRAINZ_CLOUD_SERVICES_BASE_URL="http://localhost:8090"

#BIZBRAINZ_OAUTH2_GOOGLE_CLIENT_ID=""
#BIZBRAINZ_OAUTH2_GOOGLE_CLIENT_SECRET=""

#BIZBRAINZ_OAUTH2_GITHUB_CLIENT_ID=""
#BIZBRAINZ_OAUTH2_GITHUB_CLIENT_SECRET=""

#BIZBRAINZ_FORM_LOGIN_DISABLED=
#BIZBRAINZ_SIGNUP_DISABLED=

#BIZBRAINZ_SENTRY_DSN=
#BIZBRAINZ_SENTRY_ENVIRONMENT=

#BIZBRAINZ_RECAPTCHA_SITE_KEY=""
#BIZBRAINZ_RECAPTCHA_SECRET_KEY=""
