#!/bin/sh

# BIZBRAINZ_OAUTH2_GOOGLE_CLIENT_ID=""
# BIZBRAINZ_OAUTH2_GOOGLE_CLIENT_SECRET=""
# BIZBRAINZ_OAUTH2_GITHUB_CLIENT_ID=""
# BIZBRAINZ_OAUTH2_GITHUB_CLIENT_SECRET=""
# BIZBRAINZ_FORM_LOGIN_DISABLED=
# BIZBRAINZ_SIGNUP_DISABLED=

# BIZBRAINZ_MAIL_ENABLED=true
# BIZBRAINZ_MAIL_HOST=localhost
# BIZBRAINZ_MAIL_PORT=25
# BIZBRAINZ_MAIL_USERNAME=
# BIZBRAINZ_MAIL_PASSWORD=
# BIZBRAINZ_MAIL_SMTP_AUTH=true
# BIZBRAINZ_MAIL_SMTP_TLS_ENABLED=true

# BIZBRAINZ_MARKETPLACE_USERNAME=""
# BIZBRAINZ_MARKETPLACE_PASSWORD=""

BIZBRAINZ_ENCRYPTION_PASSWORD="abcd"
BIZBRAINZ_ENCRYPTION_SALT="abcd"

#BIZBRAINZ_RECAPTCHA_SITE_KEY=""
#BIZBRAINZ_RECAPTCHA_SECRET_KEY=""
